<h1><%= @rusk.name %></h1>

<h3>Base:</h3>
	<p><%= @rusk.base%></p>
<h3>Extras:</h3>
	<p><%= @rusk.extras%></p>
<h3>Dippable:</h3>
	<p><%= @rusk.dippable%></p>
<h3>Crunch Factor:</h3>
	<p><%= @rusk.crunch_factor%></p>

<%= link_to 'All Rusks', rusks_path %>